[user]
  name = Albert Bachand
  email = albertb@gmail.com
[color]
  ui = auto
[alias]
  br = branch
  ci = commit
  co = checkout
  sh = stash
  st = status
[core]
  excludesfile = /home/albertb/.gitexcludes
[log]
  date = local
[merge]
  tool = meld
