[user]
  name = Albert Bachand
  email = albertb@gmail.com
[color]
  status = auto
  branch = auto
  diff = auto
[alias]
  br = branch
  ci = commit
  co = checkout
  sh = stash
  st = status
[core]
  excludesfile = /home/albertb/.gitexcludes
