[user]
  name = Albert Bachand
  email = albertb@google.com
[color]
  status = auto
  branch = auto
  diff = auto
[alias]
  br = branch
  ci = commit
  co = checkout
  sh = stash
  st = status
[core]
  excludesfile = ~/.gitexcludes
[gc]
	autopacklimit = 0
	auto = 0
